.main
{
   display: block;

}
.first
{
  width:100px;
  height:100px;
  background:"#FF0000";
  margin-top:20px;
  opacity:1;

}
.second
{
  width:100px;
  height:100px;
  background:"#FF0000";
  margin-top:40px;
  opacity:8;

}
.third
{
  width:100px;
  height:100px;
  background:"#FF0000";
  margin-top:80px;
  opacity:.6;

}
.fourth
{
     width:100px;
     height:100px;
     background:"#FF0000";
     opacity:.4;


}

.fifth
{
        width:100px;
        height:100px;
        background:"#FF0000";
        opacity:.2;


}
.sixth
{
        width:100px;
        height:100px;
        background:"#FF0000";
        opacity:0;


}